# 올림픽 120년 역사: 선수들과 결과

## 데이터셋

이 데이터셋은 1896년 아테네부터 2016년 리우까지의 현대 올림픽 경기에 관한 역사적 자료입니다. 2018년 5월에 www.sports-reference.com에서 데이터를 수집했습니다.

파일 athlete_events.csv는 271,116개의 행과 15개의 열로 구성되어 있습니다. 각 행은 개별 올림픽 이벤트에 참가하는 개별 선수(athlete-events)를 나타냅니다.

1. ID - Unique number for each athlete (아이디 )
2. Name - Athlete's name (선수  이름 )
3. Sex - M or F (성별) 
4. Age - Integer (정수) 
5. Height - In centimeters (키)
6. Weight - In kilograms (몸무게) 
7. Team - Team name (팀이름) 
8. NOC - National Olympic Committee 3-letter code (국가 올림픽 위원회 3자리 코드)
9. Games - Year and season (년도  및 계절)
10. Year - Integer (정수)
11. Season - Summer or Winter (여름 및 겨울)
12. City - Host city (개최 도시) 
13. Sport - Sport (스포츠)
14. Event - Event (이벤트) 
15. Medal - Gold, Silver, Bronze, or NA (금,은, 동메달)

파일 noc_regions.csv는 230개의 행과 3개의 열로 구성되어 있습니다.

1. NOC : 국가 올림픽 위원회 3자리 코드 
2. region:나라
3. notes : 추가 정보

## 데이터 준비

In [12]:
import pandas as pd 
import matplotlib.pyplot as plt 
import koreanize_matplotlib
import seaborn as sns 
import numpy as np

In [13]:
# athlete_events.csv

In [15]:
#noc_regions.csv

In [46]:
# athlete_events

In [1]:
#noc_regions

# 데이터 전처리

In [20]:
# Medal 데이터에는 메달을 못 받은 선수들이 있기 때문에, fillna로 'No Medal'채움

In [47]:
# athlete_events.csv에서 팀의 지역을 얻기 위해 NOC 값을 기준으로 athlete events 데이터셋과 region 데이터셋을 병합

In [25]:
#ae, nc에 있는 "NOC"으로 합치기

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No Medal,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No Medal,China,NaN
2,602,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,No Medal,China,NaN
3,1463,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",No Medal,China,NaN
4,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,No Medal,China,NaN

In [48]:
# 여름하고 겨울관련 데이터 나누기

# 각 국가별로 메달 수를 집계와 메달 수 상위 10개 국가를 막대 그래프로 시각화하시오.

In [49]:
# 여름

In [50]:
# 겨울

# 올림픽 개최 연도별로 남녀 참가자 수의 변화를 보여주는 선 그래프를 그리시오.

In [51]:
# 여름

In [52]:
# 겨울

# 특정 종목(예: 수영)에서의 성별 메달 분포를 분석 그리고 이를 시각화하여 성별 메달 분포를 막대 그래프로 나타내시오.

# 한국 및 도시 "Seoul" 관련 데이터를 불러와 Top 10 스포츠별 메달 수를 스택 차트로 나타내세요.

In [53]:
# region은 South Kroea, City는 Seoul로
# 'No Medal'포함하지 않아야 함

In [54]:
#index는 Sport, columns는 Medal 
#sort_values는 medal.columns.tolist()로

In [55]:
#스택차트